In [1]:
import pandas as pd

In [133]:
df = pd.read_csv('data/survey_results_public.csv')
schema_df = pd.read_csv('data/survey_results_schema.csv')
people = {
    "first" : ["Corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Doe"],
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@email.com","JohnDoe@email.com"]
}
df1 = pd.DataFrame(people)

In [3]:
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [5]:
df1.columns

Index(['first', 'last', 'email'], dtype='object')

In [7]:
df1.columns = ['first_name','last_name','email']

In [8]:
df1

  first_name last_name                    email
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [9]:
df1.columns

Index(['first_name', 'last_name', 'email'], dtype='object')

In [10]:
df1.columns = [x.upper() for x in df1.columns]

In [11]:
df1.columns

Index(['FIRST_NAME', 'LAST_NAME', 'EMAIL'], dtype='object')

In [12]:
df1

  FIRST_NAME LAST_NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [21]:
df1.columns = [x.replace('T','T ') for x in df1.columns ]

In [22]:
df1

  FIRST NAME LAST NAME                    EMAIL
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [24]:
# update only for some columns -> use rename(columns={})

In [25]:
df1.columns = [x.lower() for x in df1.columns]

In [27]:
df1.columns = [x.replace(' ','') for x in df1.columns]

In [28]:
df1

  firstname lastname                    email
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [31]:
df1.rename(columns={'firstname':'first','lastname':'last'}, inplace=True)

In [32]:
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [41]:
df1.loc[2,'last'] = 'Smith'

In [42]:
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [43]:
df1.loc[2] = ['John','smith','JohnSmith@email..com']

In [44]:
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    smith     JohnSmith@email..com

In [45]:
df1.loc[2,['last','email']] = ['Doe','JohnDoe@email.com']

In [46]:
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [48]:
df1.loc[2,'last'] = 'Smith'

In [49]:
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [50]:
df1.at[2,'last'] = 'Smith'

In [51]:
df1

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John    Smith        JohnDoe@email.com

In [55]:
filt = df1['last'] == 'Smith'

In [58]:
df1.loc[filt,'last'] = 'Doe'

In [59]:
df

       first last                    email
0      Corey  Doe  CoreyMSchafer@gmail.com
1       Jane  Doe        JaneDoe@email.com
2       John  Doe        JohnDoe@email.com
Smith    NaN  Doe                      NaN

In [61]:
df1.drop('Smith')

   first last                    email
0  Corey  Doe  CoreyMSchafer@gmail.com
1   Jane  Doe        JaneDoe@email.com
2   John  Doe        JohnDoe@email.com

In [64]:
filt = (df1['email'] == 'JohnDoe@email.com')
df1[filt]['last'] = 'Smith'

C:\Users\Shylesh_Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [66]:
df1.drop('Smith',inplace=True)

In [67]:
df1

   first last                    email
0  Corey  Doe  CoreyMSchafer@gmail.com
1   Jane  Doe        JaneDoe@email.com
2   John  Doe        JohnDoe@email.com

In [68]:
filt = df1['email']=='JohnDoe@email.com'
df1[filt]['last'] = 'Smith'

C:\Users\Shylesh_Ram\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [69]:
df1

   first last                    email
0  Corey  Doe  CoreyMSchafer@gmail.com
1   Jane  Doe        JaneDoe@email.com
2   John  Doe        JohnDoe@email.com

In [70]:
filt = df1['email']=='JohnDoe@email.com'
df1.loc[filt, 'last'] = 'Smith'

In [71]:
df1

   first   last                    email
0  Corey    Doe  CoreyMSchafer@gmail.com
1   Jane    Doe        JaneDoe@email.com
2   John  Smith        JohnDoe@email.com

In [74]:
df1['email'] = df1['email'].str.lower()

In [75]:
df1

   first   last                    email
0  Corey    Doe  coreymschafer@gmail.com
1   Jane    Doe        janedoe@email.com
2   John  Smith        johndoe@email.com

In [105]:
# 4 methods
# apply() -> both dataframes and series objects(used to call functions on our values)
# map() -> Series. used to substitute each value in a Series with other value. with dictionaries usage
# applymap() -> only for dataframes
# replace() -> works with Series. Substitute values in series only with the specified entity

In [77]:
df1['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [78]:
def update_email(email):
    return email.upper();

In [81]:
df1['email'] = df1['email'].apply(update_email)

In [82]:
df1

   first   last                    email
0  Corey    Doe  COREYMSCHAFER@GMAIL.COM
1   Jane    Doe        JANEDOE@EMAIL.COM
2   John  Smith        JOHNDOE@EMAIL.COM

In [83]:
df1['email'] = df1['email'].apply(lambda x: x.lower())

In [84]:
df1

   first   last                    email
0  Corey    Doe  coreymschafer@gmail.com
1   Jane    Doe        janedoe@email.com
2   John  Smith        johndoe@email.com

In [85]:
df1.apply(len) # applies to every series in the dataframe

first    3
last     3
email    3
dtype: int64

In [89]:
df1.apply(len, axis='columns')

0    3
1    3
2    3
dtype: int64

In [91]:
df1.apply(pd.Series.min)

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [92]:
df1.apply(pd.Series.max)

first                 John
last                 Smith
email    johndoe@email.com
dtype: object

In [93]:
df1.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [94]:
df1.apply(lambda x: x.max())

first                 John
last                 Smith
email    johndoe@email.com
dtype: object

In [106]:
# apply() -> work with every values in a Series
        # -> work with every Series in a DataFrame
# applymap() -> work with every values in a DataFrame
# map() -> work only with series
# replace() -> work only with seires

In [97]:
df1.applymap(len)

   first  last  email
0      5     3     23
1      4     3     17
2      4     5     17

In [98]:
df1

   first   last                    email
0  Corey    Doe  coreymschafer@gmail.com
1   Jane    Doe        janedoe@email.com
2   John  Smith        johndoe@email.com

In [100]:
df1.applymap(str.upper) # error with numbers when used string methods

   first   last                    email
0  COREY    DOE  COREYMSCHAFER@GMAIL.COM
1   JANE    DOE        JANEDOE@EMAIL.COM
2   JOHN  SMITH        JOHNDOE@EMAIL.COM

In [103]:
df1['first'].map({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2      NaN
Name: first, dtype: object

In [104]:
df1

   first   last                    email
0  Corey    Doe  coreymschafer@gmail.com
1   Jane    Doe        janedoe@email.com
2   John  Smith        johndoe@email.com

In [109]:
df1['first'].replace({'Corey':'Chris','Jane':'Mary'})

0    Chris
1     Mary
2     John
Name: first, dtype: object

In [110]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase,last
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,NaN
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult,NaN
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult,Smith
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,NaN
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy,NaN
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult,NaN
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult,NaN
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,NaN
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult,NaN
10,11,I code primarily as a hobby,Yes,Once a month or more often,The quality of OSS and closed source software ...,NaN,Antigua and Barbuda,"Yes, full-time",Primary/elementary school,NaN,...,NaN,22.0,Man,Yes,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;East Asian;Hispani...,No,Appropriate in length,Easy,NaN
11,12,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,"Yes, full-time",Some college/university study without earning ...,Mathematics or statistics,...,Courses on technologies you're interested in,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,NaN
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,NaN
13,14,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Cour...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy,NaN
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult,NaN
15,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult,NaN
16,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy,NaN
17,18,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult,NaN
18,19,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Brazil,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Easy,NaN
19,20,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,NaN
20,21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy,NaN
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,NaN
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy,NaN
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy,NaN
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult,NaN
25,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy,NaN
26,27,"I used to be a developer by profession, but no...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Colombia,"Yes, part-time",Some college/university study without earning ...,"Information systems, information technology, o...",...,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult,NaN
27,28,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Turkey,No,"Bachelors degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",...,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN,NaN
28,29,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)",NaN,...,Tech articles written by other developers;Cour...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,NaN
29,30,I am a developer by profession,No,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Switzerland,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech meetups or events in your area,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88853,84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88854,84539,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Courses on technologies you're interested in,23.0,Woman,Yes,Bisexual,White or of European descent,No,Appropriate in length,Easy,NaN
88855,85182,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Canada,NaN,NaN,NaN,...,NaN,NaN,Woman,No,Straight / Heterosexual,NaN,No,Too long,Easy,NaN
88856,85208,NaN,No,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88857,85396,NaN,No,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Sweden,No,"Professional degree (JD, MD, etc.)",NaN,...,Tech meetups or events in your area,NaN,Man,No,Straight / Heterosexual,Black or of African descent,NaN,Too long,Neither easy nor difficult,NaN
88858,85538,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88859,85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",...,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy,NaN
88860,85738,NaN,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Brazil,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Industry news about technologies you're intere...,15.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Too short,Easy,NaN
88861,85744,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88862,85955,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",Egypt,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,Tech articles written by other developers,NaN,Man,No,NaN,Middle Eastern,No,Too long,Neither easy nor difficult,NaN
88863,85961,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,NaN,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,NaN,45.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Difficult,NaN
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy,NaN
88865,86566,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Retired,Switzerland,No,Some college/university study without earning ...,"A humanities discipline (ex. literature, histo...",...,Tech articles written by other developers;Cour...,74.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy,NaN
88866,86638,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Australia,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,30.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy,NaN
88867,86806,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Nigeria,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,Tech articles written by other developers,19.0,Man,No,NaN,Black or of African descent;Middle Eastern,No,Appropriate in length,Neither easy nor difficult,NaN
88868,86980,NaN,No,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88869,86999,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88870,87352,NaN,Yes,Less than once per year,NaN,"Not employed, and not looking for work",Netherlands,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,59.0,Man,No,NaN,NaN,No,NaN,NaN,NaN
88871,87386,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Italy,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Tech...,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,NaN
88872,87739,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Czech Republic,"Yes, full-time","Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,NaN,25.0,NaN,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,NaN
88873,88062,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88874,88076,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88875,88182,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult,NaN
88876,88212,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Spain,No,"Secondary school (e.g. American high school, G...",NaN,...,Tech articles written by other developers;Indu...,40.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy,NaN
88877,88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult,NaN
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy,NaN
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy,NaN

In [112]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase',
       'last'],
      dtype='object')

In [113]:
df.rename(columns={'ConvertedComp':'USDSalary'}, inplace=True)

In [116]:
df.rename(columns={'USDSalary':'SalaryUSD'}, inplace=True)

In [117]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'SalaryUSD', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase',
       'last'],
      dtype='object')

In [118]:
df['SalaryUSD']

0             NaN
1             NaN
2          8820.0
3         61000.0
4             NaN
5        366420.0
6             NaN
7             NaN
8         95179.0
9         13293.0
10            NaN
11            NaN
12        90000.0
13        57060.0
14            NaN
15       455352.0
16        65277.0
17        21996.0
18        31140.0
19        41244.0
20            NaN
21       103000.0
22        69000.0
23        26388.0
24         6300.0
25       114000.0
26            NaN
27            NaN
28       100000.0
29        90417.0
           ...
88853         NaN
88854         NaN
88855         NaN
88856         NaN
88857         NaN
88858         NaN
88859         NaN
88860         NaN
88861         NaN
88862         NaN
88863         NaN
88864         NaN
88865         NaN
88866         NaN
88867         NaN
88868         NaN
88869         NaN
88870         NaN
88871         NaN
88872         NaN
88873         NaN
88874         NaN
88875         NaN
88876         NaN
88877         NaN
88878         NaN
88879         NaN
88880         NaN
88881         NaN
88882         NaN
Name: SalaryUSD, Length: 88883, dtype: float64

In [120]:
def update_hobby(hob):
    if hob == 'Yes':
        hob = 1
    else:
        hob = 0;
    return hob
df['Hobbyist'] = df['Hobbyist'].apply(update_hobby)

In [138]:
df['Hobbyist'] = df['Hobbyist'].map({'Yes':True,'No':False})

In [139]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,False,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelors degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,True,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
10,11,I code primarily as a hobby,True,Once a month or more often,The quality of OSS and closed source software ...,NaN,Antigua and Barbuda,"Yes, full-time",Primary/elementary school,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,22.0,Man,Yes,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;East Asian;Hispani...,No,Appropriate in length,Easy
11,12,I am a student who is learning to code,False,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,"Yes, full-time",Some college/university study without earning ...,Mathematics or statistics,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
13,14,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
14,15,I am a student who is learning to code,True,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
15,16,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
16,17,I am a developer by profession,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
17,18,"I am not primarily a developer, but I write co...",True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
18,19,I am a developer by profession,True,Never,The quality of OSS and closed source software ...,Employed full-time,Brazil,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Easy
19,20,"I am not primarily a developer, but I write co...",False,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
20,21,I code primarily as a hobby,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
21,22,I am a developer by profession,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,True,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,False,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult
25,26,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy
26,27,"I used to be a developer by profession, but no...",True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Colombia,"Yes, part-time",Some college/university study without earning ...,"Information systems, information technology, o...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
27,28,I am a developer by profession,True,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Turkey,No,"Bachelors degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",...,NaN,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN
28,29,I am a developer by profession,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelors degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
29,30,I am a developer by profession,False,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Switzerland,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Tech meetups or events in your area,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88853,84299,NaN,True,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88854,84539,NaN,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,23.0,Woman,Yes,Bisexual,White or of European descent,No,Appropriate in length,Easy
88855,85182,NaN,False,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Canada,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,NaN,Woman,No,Straight / Heterosexual,NaN,No,Too long,Easy
88856,85208,NaN,False,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88857,85396,NaN,False,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Sweden,No,"Professional degree (JD, MD, etc.)",NaN,...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,Man,No,Straight / Heterosexual,Black or of African descent,NaN,Too long,Neither easy nor difficult
88858,85538,NaN,False,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88859,85642,NaN,False,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88860,85738,NaN,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Brazil,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,15.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Too short,Easy
88861,85744,NaN,False,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88862,85955,NaN,True,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",Egypt,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers,NaN,Man,No,NaN,Middle Eastern,No,Too long,Neither easy nor difficult
88863,85961,NaN,True,Less than once per year,The quality of OSS and closed source software ...,NaN,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,NaN,45.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Difficult
88864,86012,NaN,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Masters degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy
88865,86566,NaN,True,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Retired,Switzerland,No,Some college/university study without earning ...,"A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,74.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy
88866,86638,NaN,True,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Australia,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,30.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88867,86806,NaN,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Nigeria,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,A lot less welcome now than last year,Tech articles written by other developers,19.0,Man,No,NaN,Black or of African descent;Middle Eastern,No,Appropriate in length,Neither easy nor difficult
88868,86980,NaN,False,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88869,86999,NaN,False,Never,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88870,87352,NaN,True,Less than once per year,NaN,"Not employed, and not looking for work",Netherlands,No,"Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,59.0,Man,No,NaN,NaN,No,NaN,NaN
88871,87386,NaN,True,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Italy,"Yes, full-time","Bachelors degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88872,87739,NaN,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Czech Republic,"Yes, full-time","Masters degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,25.0,NaN,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88873,88062,NaN,False,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88874,88076,NaN,False,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88875,88182,NaN,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult
88876,88212,NaN,False,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Spain,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Tech articles written by other developers;Indu...,40.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy